@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Prevent FOUC */
.no-js {
  visibility: visible;
}

@layer components {
  body {
    @apply invisible no-js antialiased bg-gray-100 dark:bg-gray-900 print:bg-white;
  }

  div#outer {
    @apply min-h-screen mb-10 print:mb-0 text-gray-900 dark:text-gray-100 print:text-black;
  }

  header#title-header {
    @apply pt-6 pb-4 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  header#title-header h1 {
    @apply text-3xl font-bold leading-tight;
  }

  div#outer main {
    @apply max-w-7xl mx-auto px-6 lg:px-8;
  }

  div#about {
    @apply pb-4;
  }

  article#glossary dl {
    @apply grid gap-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 print:grid-cols-2;
  }

  article#glossary dl > div {
    @apply bg-white dark:bg-gray-800 print:bg-white border dark:border-gray-700 print:border-gray-200 rounded-lg px-4 py-4;
  }

  article#glossary dl dt {
    @apply font-semibold text-gray-600 dark:text-gray-200 print:text-black;
  }

  article#glossary dl dt dfn {
    @apply not-italic;
  }

  article#glossary dl dd {
    @apply mt-1 py-2 text-gray-600 dark:text-gray-300 print:text-black;
  }

  article#glossary dl dd a {
    @apply text-gray-600 dark:text-gray-300 print:text-black;
  }

  a {
    @apply hover:underline text-indigo-600 dark:text-amber-300 print:text-black;
  }

  /* Start of trick for autogrowing textareas
     https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */

  .grow-wrap {
    @apply grid;
  }

  .grow-wrap::after {
    @apply whitespace-pre-wrap invisible;
    content: attr(data-replicated-value) " ";
  }

  .grow-wrap > textarea {
    @apply resize-none overflow-hidden;
  }

  .grow-wrap > textarea,
  .grow-wrap::after {
    @apply shadow-sm w-full rounded-md border;
    grid-area: 1 / 1 / 2 / 2;
  }

  /* End of trick for autogrowing textareas */
}
