# The instructions in this file can be tested locally using `gh act` (https://github.com/nektos/act).
#
# Any changes should also be reflected in bin/simulate-release.

name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9.12.3
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm exec elm-verify-examples --run-tests
      - run: pnpm exec elm-test
      - run: pnpm run build
      - run: pnpm run build:worker
      - name: Prepare release
        run: ./bin/prepare-release
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: release/*
